@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    background-color: #deb8878a;
    margin: 0;
    padding: 2rem;
  }

